<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Todos</title>
    <link rel="stylesheet" href="/todomvc-common/base.css">
    <link rel="stylesheet" href="/todomvc-app-css/index.css">
  </head>
  <body>
    <div id="app" class="todoapp">
      <header class="header">
        <h1>todos</h1>
        <input
          class="new-todo"
          autofocus
          autocomplete="off"
          placeholder="What needs to be done?"
          v-model="newTodo"
          @keyup.enter="createTodo">
      </header>
      <section class="main" v-show="todos.length">
        <input id="toggle-all" type="checkbox" class="toggle-all" v-model="TodoSelect" @click="selectTodo">
        <label for="toggle-all"></label>
        <ul class="todo-list">
            <li
                    v-for="(todo,index) of todos"
                    class="todo"
                    :class="{completed: todo.completed, editing: updatedTodo == todo}">
                <div class="view">
                    <input class="toggle" type="checkbox" v-model="todo.completed" @click="updateTodo(index)">
                    <label   @dblclick="startEdit(todo)">{{todo.content}}</label>
                    <button class="destroy" @click="deleteTodo(index)"></button>
                </div>
                    <input
                            class="edit"
                            type="text"
                            v-model="todo.content"
                            @blur="editTodo(index)"
                            @keyup.enter="editTodo(index)"
                            @keyup.esc="cancelEdit()">
            </li>
        </ul>
      </section>
      <footer class="footer" v-show="todos.length  || empty">
        <span class="todo-count">
          <strong>{{remaining}}</strong> {{pluralize('item', remaining)}} left
        </span>
        <ul class="filters">
          <li v-for="filter in filters" @click="query(filter)">
            <a :class="{selected: filter == currentFilter}" href="#" @click="currentFilter=filter" >{{capitalize(filter)}}</a>
          </li>
        </ul>
        <button class="clear-completed" v-show="todos.length > remaining" @click="clearTodo()">
          Clear completed
        </button>
      </footer>
    </div>
    <script src="/vue/dist/vue.js"></script>
    <script src="/axios/dist/axios.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
